*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.eslintcache
pids
*.pid
*.seed
dist
lib
lib-cov
coverage
.grunt
.lock-wscript
node_modules
**/.idea
.DS_Store
.tmp
.env*
env.js
env.yml
env.json
admin.env
tmp
.webpack
.specbin
jspm_packages
.build*
build
.generated
*_generated.py
*.pyc
.logs
.installs
PerfectBrowser
.generated*
vite.config.ts.timestamp*
__-__
*.egg-info
.cdk.staging
cdk.out
cdktf.out
0
*.node

